@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_ELayout.cshtml";
}
@model Elearning_Test.Models.SearchResultsViewModel


<h2>Résultats de la recherche pour "@Model.Query"</h2>

@if (Model.Categories.Any())
{
    <h3>Catégories</h3>
    <div class="row g-4">
        @foreach (var categorie in Model.Categories)
        {
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" asp-action="CategorieDetails" asp-route-id="@categorie.Id">
                    <img class="img-fluid position-absolute w-100 h-100" src="@categorie.ImageFile" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">@categorie.Intitule</h5>
                        <small class="text-primary">49 Courses</small>
                    </div>
                </a>
            </div>
        }
    </div>
}

@if (Model.Cours.Any())
{
    <h3>Cours</h3>
    <div class="row g-4 justify-content-center">
        @foreach (var cours in Model.Cours)
        {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="@cours.ImageFile" alt="" object-fit: cover;">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end read-more-btn" style="border-radius: 30px 0 0 30px;" data-course-id="@cours.Id">Read More</a>
                            <a href="@Url.Action("InscriptionCours", "MyHome", new{id = cours.Id } )" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">$@cours.Price</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-4">@cours.Titre</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                    </div>
                    <!-- Description du cours (cachée par défaut) -->
                    <div id="description-@cours.Id" class="course-description" style="display: none;">
                        <p>@cours.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!Model.Categories.Any() && !Model.Cours.Any())
{
    <p>Aucun résultat trouvé pour "@Model.Query".</p>
}